/*body {
    background-color: red !important;
}*/

/** Make the background color white **/
.bg1 {
    background-color: #FFFFFF !important;
}

/** Haven't found bg2 yet
.bg2 {
    background-color: #FF00FF !important;
}
**/

/** Make the bars on tables Northeastern Red**/
.bg3 {
    background-color: #CC0000 !important;
}

/** Make links Northeastern Red **/
a {
    color: #CC0000 !important;
}

/** Tab Coloring **/
.tabon {
    background-image: none !important;
}

.taboff {
    background-image: none !important;
}

.tabon a{
    color: #FFFFFF !important;
}

.bgtabon {
    background-color: #CC0000 !important;
}

td.tabon {
    background-color: #CC0000 !important;
    height: 30px !important;
}

i {
    margin: 10px !important;
}
