/*body {
    background-color: red !important;
}*/

/** Make the background color white **/
.bg1 {
    background-color: #FFFFFF !important;
}

.bg2 {
    background-color: #FF00FF !important;
}

/** Make the bars on tables Northeastern Red**/
.bg3 {
    background-color: #CC0000 !important;
}
